.navbar.navbar-inverse {
  margin-bottom: 0;
}

#sidebar {
  background: #2196f3;
}

#sidebar .list-group {
  margin: 0;
}

#sidebar .list-group-item {
  background-color: #2196f3;
  border: 0;
}

#sidebar .list-group-item-active {
  background-color: #fff;
}