.navbar.navbar-inverse {
  margin-bottom: 0;
  background-color: #1976d2;
  height: 120px;
}

#sidebar {
  background: #1e88e5;
  padding: 0;
  height: 100vh;
}

#sidebar .list-group {
  margin: 0;
}

#sidebar .list-group-item {
  background-color: #1e88e5;
  border: 0;
  height: 64px;
}

#sidebar .list-group-item-active {
  background-color: #fff;
}

.money-panel {
  margin-top: 15px;
}

.panel .credit-display {
  background-color: #72bb53;
}

.panel .debt-display {
  background-color: #ff9800;
}

.media {
  padding-top: 5px;
}

.kerabat, .requests, .form-pinjam{
  display: none;
}