<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
  </head>
  <body>
    <!-- App bar -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Pinjamin</a>
        </div>
      </div>
    </nav>
    
    <!-- Nav -->
    <div id="sidebar" class="col-xs-12 col-sm-3 sidebar">
      <div class="list-group row">
        <a class="list-group-item list-group-item-active" href="#">Dashboard</a>
      </div>
      <div class="list-group row">
        <a class="list-group-item" href="/kerabat">Kerabat</a>
      </div>
      <div class="list-group row">
        <a class="list-group-item" href="/pinjam">Pinjam</a>
      </div>
      <div class="list-group row">
        <a class="list-group-item" href="/requests">Daftar Request</a>
      </div>
    </div>

    <!-- Content -->
    <div class="col-xs-12 col-sm-9">
      <div class="row">Content goes here</div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/dependencies/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/offcanvas.js"></script>
  </body>
</html>